.container-loading{
    margin: 0 50%;
}

.container-listChamp {
    margin: 5.5rem 30em 0rem 30rem;
    padding-bottom: 5rem;
}

.search-listChamp {
    display: flex;
    width: 100%;
    height: 2.5rem;
    background-color: #3c293e;
}

.name-input {
    width: 50%;
    line-height: 2.5rem;
    text-align: center;

    border: 0.13rem solid;
    border-top-left-radius: 5px;
    border-color: white;
}

.input-listChamp {
    width: 50%;
    text-align: center;
    border: 0;
    border-top-right-radius: 5px;
}

.input-listChamp:focus {
    outline: none;
    background-color: #ffffffde;
}


.table-ListChamp{
    color: white;
    background-color: #3c293e;
    border: solid;
    border-width: 0 0.13rem 0.13rem 0.15rem;
    border-color: #ffffff;
}

.table-ListChamp-row{
    border-color: #705771;
    height: 4rem;
}

.table-img{
    width: 25%;
    height: 4rem;
    vertical-align: middle;
}

.img-listChamp{
    margin-left: 5rem;
    width: 4rem;
}


.table-nom{
    width: 25%;
    height: 4rem;
    vertical-align: middle;
    font-size: 1.3rem;
}

.table-categorie{
    width: 50%;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.1rem;
}

.categorie-nom{
    margin: 0 1rem;
}



@media screen and (max-width: 1870px) {

    .container-listChamp {
        margin: 5.5rem 20% 0 20%;
    }

}


@media screen and (max-width: 730px) {

    .App{
        width: fit-content;
      }

    .container-listChamp {
        margin: 5.5rem 0rem 0rem 0rem;
    }
}