.solo {
    padding-top: 25rem;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.solo-formsearch {
    width: 65%;
}


.duo-container-top {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.duo-formsearch {
    width: 65%;
}

/* @media screen and (max-width: 768px) {
    .solo {
        padding-top: 20rem;
    }
} */