.solo {
    padding: 25rem 0;
    display: flex;
    justify-content: center;
    height: 100%;

}

.solo-formsearch {
    width: 65%;
}


.duo-container-top {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.duo-formsearch {
    width: 65%;
}

@media screen and (max-width: 500px) {

    .solo {
        padding-top: 20rem;
    } 

}