.solo{
    padding-top: 25rem;
    display: flex;
    justify-content: center;
}

.solo-formsearch{
    width: 65%;
}

.duo{
    
}

.duo-container-top{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.duo-formsearch{
    width: 65%;
}

.duo-container-bot{

}