#FormSearch{
    animation-duration: 0.6s;
    display: flex;
    justify-content: center;
}

.formSearch{
    height: 2.75rem;    
    box-shadow: var(--shadow-elevation-medium);
}





.dropdown-formSearch{
    color: whitesmoke;
    background-color: #613659;
}

.dropdown-formSearch:active{
    border: none;
    color: whitesmoke;
    background-color: #61365991;
}

.btn-dropdown{
    border: none;
    height: 100%;
    color: whitesmoke;
}

.dropdown-menu-formSearch{
    background-color: #61365991;
}

.dropdown-item{
    color: whitesmoke;
}

.dropdown-item:active{
    color: black;
    background-color: white;
}

.dropdown-item:hover{
    cursor: pointer;
}














.input-formSearch{
    border: 0;
}

.input-formSearch:focus{
    box-shadow: none;
}


.btn-formSearch{
    color: whitesmoke;
    background-color: #613659;
}
.btn-formSearch:hover{
    color: whitesmoke;
    background-color: #61365991;
}


@media screen and (max-width: 400px) {

    .input-formSearch::placeholder{
        font-size: 3.5vw;
    }   

    #FormSearch{
        margin: 0 1rem;
    }

}