.container-resultSearch {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.loading {
    padding-top: 25rem;
}

.erreur {
    padding-top: 22rem;
}

.result {
    display: block;
}

.container-invocateur {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
}

.invocateur {
    margin: 0 6vw;
    padding-top: 4rem;
    width: 115rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 0px;
}

.champ {
    box-shadow: var(--shadow-elevation-medium);
    /* margin: 0 15px; */
    width: 100%;
    padding-top: 0.9rem;
    border-radius: 10px;
    text-align: center;
    height: 23rem;
    background-color: #3c293e;
}

.container-img-champ{
    height: 6rem;
}

.champ-img {
    width: 90px;
}

.champ-nom {
    height: 4rem;
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.2vw;
}

.champ-categorie {
    height: 8rem;
}

.champ-categorie-badge{
    font-size: 0.9rem;
    margin: 0.5rem 0.7rem;
}


.champ-maitrise {
    line-height: 2rem;
}


.card1 {
    animation-delay: 0.2s;
}

.card2 {
    animation-delay: 0.3s;
}

.card3 {
    animation-delay: 0.4s;
}

.card4 {
    animation-delay: 0.5s;
}

.card5 {
    animation-delay: 0.6s;
}








.container-categorie {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
}

.categorie {
    margin: 5rem 0 0 0;
    height: 10vh;
    width: max-content;
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 10px;
    text-align: center;
    line-height: 10vh;
    background-color: #3c293e;
    animation-delay: 0.7s;    
}

.categorie-result{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 1.5vw;

}

.categorie-result > *{
    padding: 0 1vw;
}



@media screen and (max-width: 1300px) {
    
    .invocateur{
        display: block;
        padding: 0 20vw;  
        width: 100%;
        height: 100%;
    }
    
    .champ{
        height: 25rem;
        margin: 5rem 0;
        animation: none;
        padding: 1rem 0;
    }
    .container-img-champ{
        height: 6rem;
    }
    
    .champ-img {
        width: 95px;
    }
    
    .champ-nom {
        height: 5rem;
        font-size: 1.5rem;
    }
    .champ-categorie {
        height: 7rem;
    }
    
    .champ-maitrise {
        /* height: 15rem; */
        font-size: 1.2rem;
    }





    

    .container-categorie {
        padding: 0 3rem; 
        height: 10rem;
        width: 100%; 
        margin-bottom: 5rem;   
    }

    .categorie{
        display: flex;
        justify-content: center;
        margin: 0 1rem 2rem 1rem;
        animation: none;

    }


    .categorie-result{
        display: flex;
    }

    .categorie-result > *{
        padding: 0;
        margin: 0 0.5rem;
        font-size: 1rem;
    }

}






@media screen and (max-width: 1060px){



    .container-categorie {
        justify-content: baseline;
        padding: 0 27vw; 
        height: 100%;
        width: 100%;    
    }
    
    .categorie{
        /* margin: 0 1rem 2rem 1rem; */
        animation: none;
        width: 100%;
        height: 100%;
    }
    
    
    .categorie-result{
        display: block; 
    }
    
    .categorie-result > *{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        /* height: 15vw;
        line-height: 15vw;
        font-size: 5vw; */
    }
    
    .text-result{
        height: 3rem;
        line-height: 3rem;
    }
}

    
















@media screen and (max-width: 700px) {

    .title-erreur {
        font-size: 5vw;
    }


    
    .invocateur{
        display: block;
        padding: 0 1rem;  
        width: 100%;
        height: 100%;
    }
    
    .champ{
        height: 100vw;
        margin: 5rem 0;
        animation: none;
    }
    .container-img-champ{
        height: 25vw;
    }
    
    .champ-img {
        width: 25vw;
    }
    
    .champ-nom {
        padding-top: 1vw;
        height: 20vw;
        font-size: 5vw;
    }
    .champ-categorie {
        height: 35vw;
    }
    
    .champ-maitrise {
        height: 20vw;
        font-size: 4vw;
    }



    
    .container-categorie {
        justify-content: baseline;
        padding: 0 5vw; 
        height: 100%;
        width: 100%;    
    }

    .categorie{
        margin: 0 1rem 2rem 1rem;
        animation: none;
        width: 100%;
        height: 100%;
    }


    .categorie-result{
        display: block; 
    }

    .categorie-result > *{
        padding: 0;
        margin: 0;
        height: 15vw;
        line-height: 15vw;
        font-size: 5vw;
    }
}