.container-table-ClassementChampion {
    margin: 5.5rem 45rem 0 45rem;
    background-color: #3c293e;
}

.table-ClassementChampion {
    width: 100%;
    color: white;
    padding: 0;
    margin: 0;
}





.table-rank {
    text-align: end;
    vertical-align: middle;
    font-size: 1.4rem;
}


.table-ClassementChampion-img {
    text-align: center;
}

.img-classement {
    width: 60px;
}



.table-ClassementChampion-nom {
    text-align: start;
    vertical-align: middle;
    font-size: 1.3rem;
}


@media screen and (max-width: 1870px) {

    .container-table-ClassementChampion {
        margin: 5.5rem 30% 0 30%;
    }

}


@media screen and (max-width: 730px) {

    html {
        width: 100%;
    }

    .container-table-ClassementChampion {
        margin: 5.5rem 0rem 0rem 0rem;
    }
}