




.navbar-admin{
    background-color: #61365991;
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: center;
}

.navbar-admin-link{
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    line-height: 3rem;
}
